* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  justify-content: center;

}


.square {
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

  animation: offColor .1s linear both;
}

@keyframes offColor {
  from {

    background-color: rgba(53, 121, 185, 0.897);
  }

  to {
    background-color: white;
  }

}

.paintedCell {
  text-transform: none;
  color: transparent;

  animation: paintColor .1s linear both;
}

@keyframes paintColor {
  from {
    background-color: white;
  }

  to {
    background-color: rgba(53, 121, 185, 0.897);
  }

}

.board {
  display: grid;
  justify-content: center;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.active div {
  margin: 2px
}

.colClues .active {
  flex-direction: column;
}

.active {
  border: 2px gray solid;
  background-color: rgba(88, 221, 83, 0.993);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}


.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* esto lo cambie yo, no se si esta bien*/
  position: relative;
}

.game-info {
  margin-top: 20px;
  /* Márgen superior de 20 píxeles */
  margin-bottom: 20px;
  /* Márgen inferior de 20 píxeles */
  margin-left: 10px;
  /* Márgen izquierdo de 10 píxeles */
  margin-right: 10px;
  /* Márgen derecho de 10 píxeles */
  justify-content: center;
}

.game-mode {
  margin-top: 20px;
  /* Márgen superior de 20 píxeles */
  margin-bottom: 20px;
  /* Márgen inferior de 20 píxeles */
  margin-left: 10px;
  /* Márgen izquierdo de 10 píxeles */
  margin-right: 10px;
  /* Márgen derecho de 10 píxeles */
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  /* Centrado horizontal */
}


/* ------------------------------------------------------------------------------ */

/* Estilos para los botones */
.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 260px;
}

.slider {
  width: 86px;
  height: 41px;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;

  background: white;
  border: 1px solid black;
  box-shadow: 0 0 0 black;
  transition: all 1s linear;

  padding: 0 3px;
}


.mode-boton {
  content: '⬛';
  font-size: 15px;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;

  box-shadow: 0 0px 3px 1.5px rgba(0, 0, 0, 0.301);
  animation: move-in .4s ease-out both;

}

@keyframes move-in {
  from {
    transform: translateX(-22px);
  }

  to {
    transform: translateX(22px);
  }
}

.selected {
  animation: move-out .4s ease-out both;
}

@keyframes move-out {
  from {
    transform: translateX(22px);
  }

  to {
    transform: translateX(-22px);
  }
}

.pist-button {
  width: 41px;
  height: 41px;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;
  font-size: 20px;

  background: white;
  box-shadow: 0 0 0 black;
  transition: all .2s linear;

  padding: 0 3px;
  /* transition: all .5 linear; */
}

.pista:focus {
  background-color: rgba(53, 121, 185, 0.897);
  border-color: rgba(53, 121, 185, 0.897);
  scale: 1.1;
}

.todo:focus {
  background-color: rgba(53, 121, 185, 0.897);
  border-color: rgba(53, 121, 185, 0.897);
  scale: 1.1;
}


.grid-auxiliar {
  background-color: black;
}

.container-help {
  display: flex;
  justify-content: center;
  align-self: center;

  padding: 20px 40px 40px 20px;

  /* background-color: #bef1f2; */
  z-index: 2;

  position: absolute;
  /* top: 148px; */
  top: 125px;
  right: -300px;

  animation: 
  scale-in-center .5s cubic-bezier(.25, .46, .45, .94),
  scale-out-center .4s cubic-bezier(.25,.46,.45,.94) 2.2s reverse;

}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1
  }

  100% {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes scale-out-center {
  0% {
    transform: scale(0);
    opacity: 1
  }

  100% {
    transform: scale(1);
    opacity: 1
  }
}

.cross {
  font-weight: 800;
  border: none;
  background: none;

  color: white;
}